{% extends "_layout/main.twig" %}
{% block title %}Home{% endblock %}
{% block body %}
	<form role="form" class="list" method="POST" >
		<div class="row">	
			<div class="col-sm-6">
				<div class="input-group" id="search">
					<input type="text" name="table_search" class="form-control input-sm" style="width: 150px;" placeholder="Search" value="{{ search }}" />
					<button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
				</div>
			</div>
			<div class="col-sm-6 text-right">
				<div class="btn-group">
	            	<a id="multiDelete" class="btn btn-default btn-flat" href="javascript:;"><i class="fa fa-trash-o"></i></a>
	            	<a class="btn btn-default btn-flat" href="{{ url('campaign.create') }}"><i class="fa fa-plus-square"></i></a>            	
	           	</div>	           	
			</div>
		</div>	
		<table class="table table-hover">
				<tbody>
					<tr>
						<th><input id="checkall"  type="checkbox"/></th>
						<th class="formCell">Name</th>
						<th class="formCell ">Goal</th>
						<th class="formCell ">Delivered</th>
						<th class="formCell ">Active</th>
						<th class="formCell">&nbsp;</th>
					</tr>
					{% for c in collection %}
		    			<tr>
		    				<td><input class="multiselector" type="checkbox"  name="ids[]" value="{{ c.getId() }}"/></td>							
							<td class="formCell">{{ c.getName() }}</td>
							<td class="formCell">{{ c.getGoal() }}</td>
							<td class="formCell">{{ c.getDelivered() }}</td>
							<td class="formCell">{{ c.getActive() }}</td>							
							<td class="formCell"><a href="{{ url('campaign.edit', {'id': c.getId()}) }}"><i class="fa fa-angle-right"></i></a></td>
						</tr>
		    		{% endfor %}
				</tbody>
		</table>
		<div class="row">		
			<div class="col-xs-12">
				<ul class="pagination pagination-sm no-margin pull-right">
					<li><a href="{{ paginator['prev'] }}"><i class="fa fa-arrow-left"></i></a></li>
					<li><a href="{{ paginator['next'] }}"><i class="fa fa-arrow-right"></i></a></li>
				</ul>
			</div>
		</div>
	</form>
	<div class="modal fade" id="conferma" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Warning...</h4>
	      </div>
	      <div class="modal-body">
	        Are you sure?
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button id="deleteConfirm" type="button" class="btn btn-primary" data-action="<?php echo $ug->generate('agents.delete'); ?>">Go on!</button>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %}